@font-face {
   font-family: 'omyu_pretty';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}


.nav {
   position: fixed;
   top:0;
   left: 0;
   z-index: 10;
}

.nav__wrapper {
   min-width: 200px;
   height: 100vh;
   background-color: #f8f8f8;
   padding: 80px 0 0 0;
   list-style: none;
}

.nav__wrapper li {
   display: flex;
   padding: 10px 16px;
  
}

.nav__wrapper li:hover {
   /* background-color: #eaeaea; */
   background-color: rgba(190, 222, 235, 0.6);
}

.nav__wrapper button {
   font-family: 'omyu_pretty';
}

.nav__icon {
   color: rgb(255, 34, 89);
   border: none;
   background-color: transparent;
   font-size: 1.5rem;
   cursor: pointer;
}

.nav__menu {
   margin-left: 8px;
   font-size: 1.2rem;
   border: none;
   background-color: transparent;
}

@media screen and (max-width:800px) {
   .nav__menu  {
      display: none;
   }
   .nav__wrapper {
      min-width: 0;
   }
}

@media screen and (max-width:400px) {

   .nav__wrapper {
      display: none;
   }
}